
@import url('https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300');
@import url('https://fonts.googleapis.com/css?family=Open+Sans');
@import url('http://futifmg.serveblog.net:8080/wp-includes/css/pageClassificacao.css');
@import url('http://futifmg.serveblog.net:8080/wp-includes/css/pageJogos.css');

html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove espaço da scrollbar */
    background: transparent;  /* opcional: apeans faz scrollbar invisível */
}

@media screen and (max-width: 768px){
	.navbar .container {
	    padding-top: 10px;
	    background-color: #59d600;
	}
	#main-navigation {
		background-color: #7ed640;
}
}

@media screen and (min-width: 768px){
	.carousel .page-header {
		height: 59em !important;
	}
}