.content div {
	text-align: center;
}

.carousel nav.carousel-buttons {
	white-space: nowrap;
	display: flex;
	overflow: hidden;
	text-align: center;
}

nav.carousel-buttons a {
	margin: auto 1em;
	color: lightgrey;
}

nav.carousel-buttons #chave-titulo {
	margin: auto 3em;
	display: inline-block;
}

nav.carousel-buttons a:hover {
	cursor: pointer;
	color: green;
	text-decoration: none;
}